@model CosWars.Models.Cosplay

@{
    ViewBag.Title = "Add Cosplay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <!-- Select2 -->
<link rel="stylesheet" href="~/Assets/plugins/select2/select2.min.css">
        <!-- Theme style -->
<link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    }
@section Scripts{
        <!-- Select2 -->
<script src="~/Assets/plugins/select2/select2.full.min.js"></script>
<script>
      $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
            {
              ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
              },
              startDate: moment().subtract(29, 'days'),
              endDate: moment()
            },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>
    }
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        General Form Elements
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-plus"></i> Add Cosplay</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("AddCosplay", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.Raw(ViewBag.Message)
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control" name="AktifMi">
                                        <option value="true">Active</option>
                                        <option value="false">Passive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Order</label>
                                    @Html.TextBoxFor(c => c.Sira, new { @class = "form-control", @Value = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Cosplay Title</label>
                                    @Html.TextBoxFor(c => c.Adi, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Cosplay Category</label>
                                    @Html.DropDownListFor(model => model.KategoriID, (SelectList)ViewData["CosplayCategory"], "Select", new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Image Path</label>
                                    <input type="file" name="file" required />
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Tag</label>
                                    @Html.ListBox("Tags", (MultiSelectList)ViewData["CosplayTag"], new { @class = "form-control  select2", required = "required" })
                                    
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div><!-- /.box -->
        </div><!--/.col -->

    </div>   <!-- /.row -->
</section><!-- /.content -->
